<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="utf-8">
  <title>Search Images</title>
</head>
<body>
<h1>Search Images</h1>
<form method="get" action="/common/download">
  <input type="text" name="keyword">
  <input type="submit" value="提交关键字">
</form>
<br/>
<hr>包含关键字的图片如下：<hr>
<ul>
  <li th:each="path : ${images}">
    <img th:src="@{${path}}"/>
  </li>
</ul>

<hr>
<p>为啥啥也没有</p>
<img th:src="@{/imgs/fa0a8572-ab6d-4d91-a5dc-48d306b69212.jpg}" />

<img th:src="@{classpath:imgs/fa0a8572-ab6d-4d91-a5dc-48d306b69212.jpg}">

<img th:src="@{src/main/resources/static/imgs/fa0a8572-ab6d-4d91-a5dc-48d306b69212.jpg}" />

<html>

</html>
</body>
</html>
