<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="utf-8">
  <title>Search Images</title>
  <style>
    img {
      width: 200px;
      height: 200px;
    }
  </style>
</head>
<body>
<form method="post" action="/common/upload" enctype="multipart/form-data">
  <input type="file" name="file"><br>
  <input type="submit" value="提交">
</form>
<hr>
<h1>Search Images</h1>
<form method="get" action="/common/download">
  <input type="text" name="keyword">
  <input type="submit" value="提交关键字">
</form>
<br/>
<hr>包含关键字的图片如下：<hr>
<ul>
  <li th:each="path : ${images}">
    <img th:src="@{${path}}"/>
  </li>
</ul>

<hr>

</body>
</html>
